/venv/
.idea
log_1.log
logs
venv
.ided/*
.idea/vcs.xml
.idea/.gitignore
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/python_currency.iml